body {
    font-family: 'Open Sans', sans-serif; /* Aplicar la fuente Open Sans */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2e5790;
}

h2 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300;
}


.no-style {
    text-decoration: none;
    color: inherit;
}

.no-style:focus, .no-style:hover {
    outline: none;
    color: #0099ff;
}

/* Estilos para el contenedor del slider */
#custom-slider {
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0);
    /* padding: 8em 2em; */
    max-width:auto;
}


/* Estilos para la pista del slider */
#custom-slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
    max-width:auto;
}

/* Estilos para las imágenes dentro del slider */
#custom-slider img {
    width: 150px;
    height: 150px;
    animation: custom-scroll 120s linear infinite;
}

/* Animación del scroll */
@keyframes custom-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1000%); }
}


