body {
    font-family: 'Open Sans', sans-serif; /* Aplicar la fuente Open Sans */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2e5790;
}

h2 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300;
}

/* Animación del scroll */
@keyframes custom-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-1000%); }
}

button:focus {
    outline: none;
  }
  