#responsive-iframe {
    width: 100%;
    height: 600px; 
  }

  #responsive-iframe2 {
    width: 100%;
    height: 850px; 
  }
  
  @media (max-width: 1200px) {
    #responsive-iframe {
      height: 500px; 
    }
  }
  
  @media (max-width: 700px) {
    #responsive-iframe {
      height: 900px; 
    }
  }  

  @media (max-width: 600px) {
    #responsive-iframe2 {
      height: 750px; 
    }
  }  


  @media (max-width: 513px) {
    #responsive-iframe2 {
      height: 80vh; 
    }
  }  