#responsive-iframe {
    width: 100%;
    height: 600px; /* Altura por defecto */
  }

  #responsive-iframe2 {
    width: 100%;
    height: 850px; /* Altura por defecto */
  }
  
  @media (max-width: 1200px) {
    #responsive-iframe {
      height: 500px; /* Altura para pantallas medianas */
    }
  }
  
  @media (max-width: 700px) {
    #responsive-iframe {
      height: 900px; /* Altura para pantallas medianas */
    }
  }  

  @media (max-width: 400px) {
    #responsive-iframe2 {
      height: 530px; /* Altura para pantallas medianas */
    }
  }  