.logo {
    margin-left: 10%;
    width: 100px;
}

/* Estilo para el menú de navegación */
.menu {
    display: flex;
    flex-grow: 0.5;
    justify-content: right;
    margin-right: 20px;
}

.menu a {
    text-align: center;
    color: #2E5790;
    padding: 10px; 
}

.toggle-menu {
    display: none;   
}

.toggle-menu.active {
    display: none;
}

.toggle-menu.active {
    display: flex; /* Mostrar menú cuando está activo */
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 100%;
    background-color: #ffffff; 
    position: absolute;
    top: 90px; 
    left: 0;
    z-index: 999; 
    font-size: 15px;
}  

.toggle {
    position: relative;
    width: 40px; 
    height: 40px;
    background: #fff;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-right: 30px; 
    z-index: 1000; 
}

.toggle span {
    position: absolute;
    width: 20px; /* Ancho de las barras */
    height: 3px; /* Alto de las barras */
    background: linear-gradient(90deg, #2E5790, #4263eb); /* Gradiente del toggle */
    border-radius: 5px;
    transition: 0.5s;
}

.toggle span:nth-child(1) {
    transform: translateY(-7px);
}

.toggle.active span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle span:nth-child(2) {
    transform: translateY(0);
}

.toggle.active span:nth-child(2) {
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

.toggle span:nth-child(3) {
    transform: translateY(7px);
}

.toggle.active span:nth-child(3) {
    transform: translateX(50px); /* Desaparecer más rápido */
}

@media (max-width: 1200px) {
    .menu a {
        width: 15%;
    }
}      

@media (min-width: 901px) {
    .menu {
        display: flex; 
    }

    .toggle {
        display: none;
    }
    .toggle-menu {
        display: none; /
    }  

    .toggle-menu.active {
        display: none; /
    }  
} 

@media (max-width: 900px) {
    .logo {
        margin-left: 10%;
        width: 90px;
    }
    .menu {
        display: none; 
    }
    .toggle {
        display: flex;
    }
    .toggle-menu {
        display: none; /
    }     
}