/* Estilos de las secciones */
section {
    color: #2e5790;
    margin: 0; 
    opacity: 0; /* Inicialmente invisibles */
    animation: fadeIn2 1.5s forwards ease-in-out;
}

.section1, .section2, .section3, .contact {
    padding: 50px 20px; /* Padding superior y lateral */
    text-align: center;
    background-color: #ffffff;
}

.section1 {
    background-color: #4e6fa0;
    background-image: url(../public/wave.svg);
    background-size: cover;
    /*background-position: center; */
    background-position: bottom;
    background-repeat: repeat-y;

}

.section2 {
    background-image: url(../public/wave.svg);
    background-size: cover;
    /*background-position: center; */
    background-position: bottom;
    background-repeat: no-repeat;
}

.section3 {
    /* background-image: url(../public/wave2.svg); */
    /* background-size: cover; */
    /*background-position: center; */
    color: white;
    background-position: top;
    background-color: #2E5790;
    background-repeat: no-repeat;
}

.section1 h1 {
    margin-bottom: 5%;
    text-align: right;
    margin-right: 10%;
    margin-left: 10%;
    color: white;
}

.section2 h3 {
    font-weight: 400;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.section3 h1 {
    font-size: 60px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
    font-weight: 300;
    color: #2E5790;
}

@media (max-width: 520px) {
    .section3 h1 {
        font-size: 40px;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}